
*{
    margin:0px;
    padding: 0px;
}
nav{
    background-color: #1a1717;
    color: #09aba0;
    padding: 10px;
    width: 100%;
    
}
ul,li,img,h1{
    display: inline;
}
ul{
    margin-left: 10%;
    padding-bottom: 5px;
}
h1{
    color: #09aba0;
    margin-left: 35%;
}
img{
    padding-top: 10px;
}
h2{
    text-align: center;
    color: #09aba0;
    padding-top: 40px;
}
#one{
    padding-top: 100px;
    display: inline-block;
    margin-left: 1%;
}
h3{
    color: #09aba0;
    text-align: center;
    padding-top: 50px;
}
.two{
    background-color: #1a1717;
    height: 200px;
    width: 200px;
    border-color: #09aba0;
    border-width: 10px;
    border-style: solid;
    margin-left: 44%;
    

}
button{
    display: inline-block;
    margin-left: 45%;
    width: 150px;
    height: 50;
    padding: 10px;
    border-width: 10px;
    border-color: #09aba0;
    border-style: solid;
    border-width: 5px;
    background-color: #1a1717;
    color: #09aba0;
}
        
        
body {
    background-image: url(BG 2.jpg);
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    
}
.image-container {
    position: relative;
    width: 300px;
    height: auto; 
    margin-left: 10px;
}

.default-image, .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.1s ease; 
}

.hover-image {
    opacity: 0;
}

.image-container:hover .default-image {
    opacity: 0; 
}

.image-container:hover .hover-image {
    opacity: 1; 
}
